<div class="d-grid justify-content-center align-items-center container">
    <div class="col-12 col-md-12">
        <!-- <div class="alert alert-danger" *ngIf="error">
      <p>{{error}}</p>
    </div> -->
        <app-alert [message]="error" *ngIf="error" (close)='onHandleError()'></app-alert>
        <div *ngIf='isLoading'>
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="username" />
                <div class="invalid-feedback">
                    Please enter your username!
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password" />
            </div>
            <div class="my-3">
                <button class="btn btn-primary mx-1" type="submit" [disabled]='form.invalid'>
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button> |
                <button class="btn btn-outline-primary mx-1" type="button" (click)="onSwitchMode()">
          Switch to {{ !isLoginMode ? "Login" : "Sign Up" }}
        </button>
            </div>
        </form>
    </div>
</div>